.animeItemContainer {
    display: flex;
    position: relative;
    height: 20%;
    width: 100%;

    justify-content: center;
    background-color: #F0EBFF;
    border-top: 1px solid #C7B3FB;
}

.animeInfoContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 80%;
    width: 90%;
    top: 10%;
}

.writtenInfoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;

    justify-content: space-between;

}

.starImageInfoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;

    justify-content: space-between;
}

.numberOfStars {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 20%;
    width: 100%;

    justify-content: flex-end;
}

.starContainer {
    height: 100%;
    width: 20%;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.imageContainer {
    height: 80%;
    width: 100%;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 100%;
    }
}