.searchBarContainer {
    display: flex;
    height: 100%;
    width: 60%;

    justify-content: center;
    align-items: center;
}

.formSearchContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;

    :focus {
        outline: none;
    }
}

.inputSearchContainer {
    display: flex;
    background-color: #E1D6FF;
    height: 50%;
    width: 80%;

    left: 10%;
    border: none;
}