.menuContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5%;

    border-right: 2px solid #C2C2C2;
    border-left: 2px solid #C2C2C2;

    background-color: #E7E7E7;
}

.menuInfo {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
}

.menuButton {
    display: flex;
    height: 25%;
    width: 100%;

    align-content: space-between;
    background-color: #e7e7e7;
    cursor: pointer;
    border-radius: 15px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.yesNoModal {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 20%;
    width: 30%;
    background-color: #E1D6FF;
    border-radius: 15px;

    justify-content: center;
    align-items: center;
    font-size: 18px;

    top: 40%;
    left: 30%;

    :focus {
        outline: none;
    }
}

.yesNoContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 25%;

    margin-top:5%;
}

.yesNoButton {
    display: flex;
    padding: 15px;

    align-content: center;
    background-color: #F0EBFF;
    cursor: pointer;
    border-radius: 15px;
}
